html, body {
  min-height: 100%;
  margin: auto;
 background-color: #CFCECA;
  font-family: 'Open Sans', sans-serif;
  
}


.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.wrapper {
  border-radius: 25px;
  position:relative;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 200px;
  max-width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background-color: #253D58;
  color: #FFFFFF;
  padding: 1rem;

}

.projectAndInfo {
  
  display: flex;
   flex-direction: row;
    position:relative;
}

.info{
  top:150px;
}

.left, .right {
  margin: 5px;
  max-width: 55%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: center;
  justify-content: center;
}

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;

}

.social-links li {
  display: inline-block;
  margin-right: 8px;
  color: white;
  background-color: black;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
  color: white;
}

.social-links a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.profile-picture{
  border-radius: 50%;
}

.project{
  font-family: 'Roboto', monospace;
  position: relative;
 background-color: #CFCECA;
 padding: 50px;
 padding-top: 25px;
 max-width: 65%;
}

.singleProject{
  margin-bottom: 50px;
  background-color: #253D58;
  border: 5px solid black;
 padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
   color: #EAE0DE;
}

.outerInfo{
  color: #FFFFFF;
  padding-top: 30px;
  text-align: center;
   background-color: #253D58;
   width: 40%;
}

.info{
 color: #FFFFFF;

border-left-style: solid;
border-right-style: solid;
border-radius: 10px;
margin: 25px;
padding: 25px;
}

.projectname{
  font-size: 45px;
}
.projecttitle{
  font-size: 30px;
}
.projectsubtitle{
  font-size: 18px;
}
.projectPicture{
  display: flex;
  justify-content: center;
}
.infosection{
  padding-bottom: 25px;
}
.workEntry{
  margin-bottom: 50px;
}

.header1{
  font-size: 20px;
}
.header2{
  font-size: 15px; 
}

.bulletpoints{
  text-align: left; 
  color: #CFCECF;
}